 
  
  table {
        border-collapse: collapse;
        border-radius: 5px;
        border-style: hidden; /* hide standard table (collapsed) border */
        box-shadow: 0 0 0 2px rgb(32, 124, 211); /* this draws the table border  */ 
        background-color: rgba(253, 253, 253, 0.422);
        transform: scale(1.0);
        width: 820px;
        margin-bottom:50px;
    }

    img{
      display: block;
      display:block;
      margin: 0px auto;
      /* margin-left: -200px; */
      width: 175px;
      height: 70px;
      width: "80%";
      
    }
   
    td {
        border: 1.2px solid rgb(65, 131, 253);
        font-size: 12px;
    }
    
    tr{
      border: 1px solid rgb(65, 131, 253);
  
    }
    
    ul, li{
        text-transform: uppercase
    }

    .firma {
      border-top: 1px solid rgba(0, 0, 0, 0.462);
      height: 1px;
      max-width: 200px;
      padding: 5px;
      margin: 60px auto 0 auto;
    }
    p{
      margin: 0px auto;
     text-align: center;
    }